# Auto detect text files and perform LF normalization
* text=auto

*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.py linguist-language=Python
frontend-final/* linguist-vendored=false
*.css linguist-vendored=false
